
/** Use Netflix's fancy font on all 'va-' classes. **/
*[class^="va-"] {
  font-family: 'Netflix Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
.va-active {
  color: #fff !important;
}
.va-dl {
  float: right;
  font-size: 16px;
  margin-right: 15px;
}
.va-button {
  display: inline-block;
  border-radius: 7px;
  padding: .4em .75em .35em;
}
.va-input {

}
.va-modal {
  position: fixed;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: #333333d5;
  z-index: 20;
  color: #fff;

  display:flex;
  justify-content:center;
  align-items:center;
}

.va-modal-error {
  z-index: 30;
}

.va-modal-contents {
  background-color: #fff;
  color: #333;
  padding: 3em;
  border-radius: 10px; /* higher radius so that the white doesn't show underneath the title and footer. */
}
.va-modal-title {
  margin-top: -3em;
  margin-left: -3em;
  margin-right: -3em;
  padding-top: 1em;
  padding-bottom: 1em;
  padding-right: 3em;
  padding-left: 3em;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;

  font-weight: 500;
  background-color: #333232;
  color: #fff;

  text-align: center;
}

.va-modal-error .va-modal-title {
  background-color: #e50914;
}

.va-modal-title > select {
  color: #000;
}
.va-modal-body {
  padding-top: 2em;
  padding-bottom: 2em;
}
.va-modal-body p {
  max-width: 500px;
}
.va-modal-body label {
  font-weight: bold;
}
.va-modal-footer {
  margin-bottom: -3em;
  padding-top: 1em;
  padding-bottom: 1em;
  margin-left: -3em;
  margin-right: -3em;
  padding-left: 1em;
  padding-right: 1em;
  background-color: lightgrey;
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
}
.va-modal-footer > button:last-of-type {
  float: right;
}
